<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874678000547-3hb73aisqf1sr44oedle0joai8h2qgaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874678000547-3hb73aisqf1sr44oedle0joai8h2qgaq</string>
	<key>API_KEY</key>
	<string>AIzaSyAiq0TG7pLFa52liEq3vCdTsJml2ky7cqs</string>
	<key>GCM_SENDER_ID</key>
	<string>874678000547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tokyo.gsacademy.NewsReader-Day6</string>
	<key>PROJECT_ID</key>
	<string>dev14ios-a44d7</string>
	<key>STORAGE_BUCKET</key>
	<string>dev14ios-a44d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874678000547:ios:cff4bdd5d57a70a5469816</string>
	<key>DATABASE_URL</key>
	<string>https://dev14ios-a44d7.firebaseio.com</string>
</dict>
</plist>